#Wall>*
{
	display: table;
	table-layout: fixed;
	margin-bottom: 8px;
	width: 100%;
	box-shadow: 0px 2px 2px #000000;
}

#Wall>*>*
{
	display: table-cell;
	background: linear-gradient(to bottom, #404040 0px, #202020 48px);
	border-color: #606060 #202020 #202020 #404040;
	border-style: solid;
	border-width: 1px;
	position: relative;
}

#Wall>.Test>.HighPriority,
#Wall>.Test>.MediumPriority,
#Wall>.Test>.LowPriority,
#Wall>.Test>.UnknownPriority
{
	width: 16px;
	min-width: 16px;
}

#Wall>.Test>.HighPriority
{
	background: linear-gradient(to bottom, #a00000 0px, #800000 48px);
	border-color: #c00000 #800000 #800000 #a00000;
}

#Wall>.Test>.MediumPriority
{
	background: linear-gradient(to bottom, #c06000 0px, #804000 48px);
	border-color: #c06000 #804000 #804000 #c06000;
}

#Wall>.Test>.LowPriority
{
	background: linear-gradient(to bottom, #e0e000 0px, #c0c000 48px);
	border-color: #e0e000 #c0c000 #c0c000 #e0e000;
}

#Wall>.Test>.UnknownPriority
{
	background: linear-gradient(to bottom, #202020 0px, #000000 48px);
	border-color: #404040 #000000 #000000 #404040;
}

#Wall>.Test>.Information
{
	padding: 8px 16px;
	overflow: hidden;
}

#Wall>.Test>.Information>b
{
	display: block;
	color: #e0e0e0;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
	text-shadow: 0px 1px 2px #000000;
	white-space: nowrap;
}

#Wall>.Test>.Information>span
{
	display: block;
	color: #a0a0a0;
	font-family: Arial;
	font-size: 12px;
	line-height: 15px;
	white-space: pre;
	height: 15px;
	overflow: hidden;
	transition: height 0.2s;
}

#Wall>.Test>.Information>.More
{
	opacity: 1.0;
	margin-left: -8px;
	width: 16px;
	position: absolute;
	left: 50%;
	bottom: 4px;
	transition: opacity 0.2s;
}

#Wall>.Test>.Loading
{
	padding: 18px 24px 19px 24px;
	text-align: center;
	width: 66px;
	min-width: 66px;
}

#Wall>.Test>.ExecutionTime
{
	padding: 8px 16px;
	text-align: center;
	width: 120px;
	min-width: 120px;
}

#Wall>.Test>.ExecutionTime>span
{
	display: block;
	color: #a0a0a0;
	font-family: Arial;
	font-size: 12px;
	line-height: 15px;
	white-space: nowrap;
}

#Wall>.Test>.ExecutionTime>b
{
	display: block;
	color: #e0e0e0;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
	text-shadow: 0px 1px 2px #000000;
	white-space: nowrap;
}

#Wall>.Test>.Reload
{
	padding: 8px 16px;
	text-align: center;
	width: 66px;
	min-width: 66px;
}

#Wall>.Test>.Reload>img
{
	cursor: pointer;
}

#Wall>.Test>.NextExecution
{
	padding: 8px 16px;
	text-align: center;
	width: 120px;
	min-width: 120px;
}

#Wall>.Test>.NextExecution>span
{
	display: block;
	color: #a0a0a0;
	font-family: Arial;
	font-size: 12px;
	line-height: 15px;
	white-space: nowrap;
}

#Wall>.Test>.NextExecution>b
{
	display: block;
	color: #e0e0e0;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
	text-shadow: 0px 1px 2px #000000;
	white-space: nowrap;
}

#Wall>.Test>.TimeElapsed
{
	padding: 8px 16px;
	text-align: center;
	width: 120px;
	min-width: 120px;
}

#Wall>.Test>.TimeElapsed>span
{
	display: block;
	color: #a0a0a0;
	font-family: Arial;
	font-size: 12px;
	line-height: 15px;
	white-space: nowrap;
}

#Wall>.Test>.TimeElapsed>b
{
	display: block;
	color: #e0e0e0;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
	text-shadow: 0px 1px 2px #000000;
	white-space: nowrap;
}

#Wall>.Test:hover>.Information>.More
{
	opacity: 0.0;
}

#UpcommingEvents>*
{
	display: table;
	table-layout: fixed;
	margin-bottom: 8px;
	width: 100%;
	box-shadow: 0px 2px 2px #000000;
}

#UpcommingEvents>*>*
{
	display: table-cell;
	background: linear-gradient(to bottom, #404040 0px, #202020 48px);
	border-color: #606060 #202020 #202020 #404040;
	border-style: solid;
	border-width: 1px;
	position: relative;
}

#UpcommingEvents>.Test>.Information
{
	padding: 8px 16px;
	overflow: hidden;
}

#UpcommingEvents>.Test>.Information>b
{
	display: inline-block;
	color: #e0e0e0;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
	text-shadow: 0px 1px 2px #000000;
	white-space: nowrap;
}

#UpcommingEvents>.Test>.Loading
{
	padding: 18px 24px 19px 24px;
	text-align: center;
	width: 66px;
	min-width: 66px;
}

#UpcommingEvents>.Test>.ExecutionTime
{
	padding: 8px 16px;
	text-align: center;
	width: 120px;
	min-width: 120px;
}

#UpcommingEvents>.Test>.ExecutionTime>span
{
	display: block;
	color: #a0a0a0;
	font-family: Arial;
	font-size: 12px;
	line-height: 15px;
	white-space: nowrap;
}

#UpcommingEvents>.Test>.ExecutionTime>b
{
	display: block;
	color: #e0e0e0;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
	text-shadow: 0px 1px 2px #000000;
	white-space: nowrap;
}

#UpcommingEvents>.Test>.Reload
{
	padding: 8px 16px;
	text-align: center;
	width: 66px;
	min-width: 66px;
}

#UpcommingEvents>.Test>.Reload>img
{
	cursor: pointer;
}

#UpcommingEvents>.Test>.NextExecution
{
	padding: 8px 16px;
	text-align: center;
	width: 120px;
	min-width: 120px;
}

#UpcommingEvents>.Test>.NextExecution>span
{
	display: block;
	color: #a0a0a0;
	font-family: Arial;
	font-size: 12px;
	line-height: 15px;
	white-space: nowrap;
}

#UpcommingEvents>.Test>.NextExecution>b
{
	display: block;
	color: #e0e0e0;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
	text-shadow: 0px 1px 2px #000000;
	white-space: nowrap;
}

@media all and (max-width: 1279px)
{
	#Overview>.Content
	{
		display: block;
		table-layout: fixed;
		width: 100%;
	}

	#Overview>.Content>*
	{
		display: block;
		margin-bottom: 16px;
		padding: 0px 8px;
	}
}